body{

font-family: Arial;
background:#f4f4f4;

}

header{

background:#222;
color:white;
padding:15px;

display:flex;
justify-content:space-between;

}

nav{

background:#333;
padding:10px;

}

nav a{

color:white;
margin-right:10px;
text-decoration:none;

}

main{

padding:20px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.2);

}

form{

display:grid;
gap:10px;
margin-bottom:20px;

}

input,button{

padding:10px;
font-size:16px;

}

table{

width:100%;
background:white;

}

th,td{

padding:10px;
border:1px solid #ddd;

}

.login-body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.login-container{

background:white;
padding:40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.3);

width:300px;

}
