body{
margin:0;
font-family:Arial;
background:#ecf0f1;
}

.layout{
display:flex;
height:100vh;
}

.menu{
width:230px;
background:#2c3e50;
color:white;
padding:20px;
}

.menu ul{
list-style:none;
padding:0;
}

.menu li{
padding:12px;
cursor:pointer;
border-radius:5px;
}

.menu li:hover{
background:#34495e;
}

.conteudo{
flex:1;
padding:30px;
}

.tela{
display:none;
}

.login-body{
background:#34495e;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
padding:30px;
border-radius:10px;
width:250px;
display:flex;
flex-direction:column;
}

input,select{
padding:8px;
margin:5px 0;
}

button{
padding:8px;
background:#3498db;
color:white;
border:none;
border-radius:5px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
background:white;
}

table,th,td{
border:1px solid #ddd;
}

th,td{
padding:10px;
text-align:center;
}
